<h1>Base Url: <%= @base_url %><h1/>
<h1>Token: <%= @token %><h1/>
<% @json_resp.each do |post,value| %>
    <h3>Description: <%= post['description'] %><h3/>
    <div>Created At: <%= post['created_at'] %><div/>
    <div>Updated At: <%= post['updated_at'] %><div/>
<% end %>
